/*required "*" symbol*/
.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 2px;
    font-size: 19px;
}

/*submenu show when hover*/
ul li:hover ul {
    display: block;
}

/*Need to remove href values when printing in Chrome*/
@media print {
    a[href]:after {
        content: none !important;
    }
}